include _mixins
block footer

    footer#footer.footer

        .container

            .footer__main

                .footer__left

                    .footer__logo
                        img(src="assets/images/logo.png", alt="logo")

                    .footer__policy
                        a(href="#") Политика конфиденциальности

                    .footer__copyright
                        p © Все права защищены

                    .footer__devs
                        a(href="https://di-project.studio/") Разработка сайта
                        | Di-Project

                .footer__right

                    .footer__nav
                        ul
                            li
                                a(href="#") Главная
                            li
                                a(href="#") О редакции
                            li
                                a(href="#") Архив
                            li
                                a(href="#") Документы
                            li
                                a(href="#") Контакты

                    .footer__contacts
                        a(href="tel:8-495-608-60-04") 8-495-608-60-04
                        a(href="tel:8-495-608-95-00") 8-495-608-95-00
                        a(href="mailto:veteran-r@mail.ru") veteran-r@mail.ru
                        a.button-style.button-style--red Оформить подписку