$red: #E30613;
$darkred: #AD010B;
$black: #2E2E2E;

$gray1: #333333;
$gray2: #4F4F4F;
$gray3: #828282;
$gray4: #BDBDBD;
$gray5: #E0E0E0;
$gray6: #F2F2F2;


@import 'plugins/swiper-bundle';

@import 'base/mixins';
@import 'base/normalize';
@import 'base/fonts';
@import 'base/reset';
@import 'base/ui';

@import 'includes/header';
@import 'includes/footer';

@import 'components/breadcrumbs';

@import 'pages/index';
@import 'pages/article';
@import 'pages/archive';
@import 'pages/about';
@import 'pages/docs';
@import 'pages/contacts';
@import 'pages/subscribe';