html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 2px;
        height: 10px;
    }
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 650px));

    @include breakpoint(md) {
        min-height: calc(max(calc(100vh - 614px), 570px));
    }
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

input {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: content-box;
}

textarea {
    background: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    box-sizing: content-box;
}

button {
    position: relative;
}

.button-style {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.button-style--red {
    background: $red;
    color: #fff;
}

.button-style--red:hover {
    background: $darkred;
    cursor: pointer;
}

.button-style--white {
    background: #fff;
    color: $red;
}

.button-style--white-transparent {
    background: transparent;
    color: #fff;
    border: 2px solid #FFFFFF;
}

.button-style--white:hover,
.button-style--white-transparent:hover {
    background: rgba(255, 255, 255, 0.3);
}