---
title: Газета Ветеран | О редакции
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('О редакции', 'О редакции')
    // Breadcrumbs::End

    .about-page

        .container

            .about__content

                .about__block-left

                    img(src="assets/images/image-23.jpg", alt="img")
                    h4 Главный редактор Всероссийской еженедельной газеты «Ветеран»
                    h4 Виктор Овсянников

                .about__block-right

                    h2 Дорогие товарищи, друзья, уважаемые наши читатели!

                    p Наконец-то мы с вами заимели свой сайт, который поможет оперативно общаться нам. Но прежде слово к тем, кто впервые узнал о Всероссийской ежедневной газете с гордым и почетным названием «Ветеран».   Это единственная газета  в стране, которая вот уже более 30 лет добросовестно, правдиво и объективно освещает положение пожилых людей в России и странах СНГ, помогает им  ориентироваться в общественной, экономической, культурной,  политической  жизни современного общества, приобщает к вопросам воспитания молодого поколения, рассказывает об опыте деятельности первичных ветеранских организаций, советов ветеранов, движений. Активно выступает в защиту социальных прав пожилых людей, публикует их обращения в органы государственной власти, вносимые предложения.
                    br
                    p Газета «Ветеран» (объем 16 полос, формат А-3) распространяется по всем регионам и странам СНГ по подписке. И ее читают не только старшее, среднее, но и молодое поколение. Она для всех. Потому что только здесь можно найти материалы, которые волнуют каждого из них. Это отмечают и сами читатели, которые, например, высоко оценили материалы года 75-летия Победы под рубриками «Полководцы Великой Победы», «Маленькие герои большой войны», «Живые легенды войны» и т. д.
                    br
                    p Немало писем в редакцию приходили и приходит от читателей с просьбой разыскать через газету о родных, близких, погибших на фронте, ищут тех, кто воевал с отцом, дедом, прадедом. Присылают фронтовые письма, фотографии, дневники, воспоминания о войне, родственников, соседей.
                    br
                    p Немало сообщений и рассказов о сегодняшней жизни ветеранов – театра и кино, большого спорта и т.д.
                    br
                    p Редакция не оставляет без внимания эти письма и материалы и готовит их к публикации.
                    br
                    p Многие сообщения, получаемые от читателей, полны оптимизма и верой на совместное сотрудничество. Так оно было и будет. Основная цель «Ветерана» – работать в одной команде с нашей аудиторией. Для этого нам действительно важно слышать вас, знать ваше мнение, проблемы, которые волнуют. Рады будем хорошим идеям и проектам, направленные на то, чтобы сделать газету лучше и интересней.

        .about-editors

            .container

                h2.s-title Редакторы газеты

                .editors

                    .editors__block
                        .editors__img
                            img(src="assets/images/a-image-1.jpg", alt="img")
                        h3 Александров Александр Александрович
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus sed sit pellentesque vitae. Sem morbi

                    .editors__block
                        .editors__img
                            img(src="assets/images/a-image-2.jpg", alt="img")
                        h3 Александров Александр Александрович
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus sed sit pellentesque vitae. Sem morbi

                    .editors__block
                        .editors__img
                            img(src="assets/images/a-image-3.jpg", alt="img")
                        h3 Петров Олег Павлович
                        p Родился 15 августа 1947 года (г. Орск Оренбургской области) в семье военнослужащего. В 1970 году окончил Белорусский государственный университет (исторический факультет), в 1979 году - Военно-политическую академию (редакторское отделение).
                        p Родился 15 августа 1947 года (г. Орск Оренбургской области) в семье военнослужащего. В 1970 году окончил Белорусский государственный университет (исторический факультет), в 1979 году - Военно-политическую академию (редакторское отделение).
                        p Родился 15 августа 1947 года (г. Орск Оренбургской области) в семье военнослужащего. В 1970 году окончил Белорусский государственный университет (исторический факультет), в 1979 году - Военно-политическую академию (редакторское отделение).
                        p Родился 15 августа 1947 года (г. Орск Оренбургской области) в семье военнослужащего. В 1970 году окончил Белорусский государственный университет (исторический факультет), в 1979 году - Военно-политическую академию (редакторское отделение).
                        p Родился 15 августа 1947 года (г. Орск Оренбургской области) в семье военнослужащего. В 1970 году окончил Белорусский государственный университет (исторический факультет), в 1979 году - Военно-политическую академию (редакторское отделение).