---
title: Газета Ветеран | О нас
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Заступник земли русской', 'О редакции')
    // Breadcrumbs::End

    .about-page

        .about-content

            img(src="assets/images/image-24.jpg", alt="img")

            p Страна живет, пока сохраняется память о подвигах предков, продолжаются и развиваются традиции и преемственные связи. Память о великих деятелях отечественной истории, сбережение исторических традиций - важнейшее условие для воспитания будущих поколений в беззаветной любви к Родине. Примечательно, что празднование 800-летия со дня рождения князя Александра Невского приходится после 76-летия Победы в Великой Отечественной войне. Два события, переходя одно в другое, должны содействовать консолидации общества, наглядно демонстрировать преемственность российской истории, вдохновлять на защиту и сохранение государственности и суверенитета страны. В духовно-нравственном измерении личность Александра Невского отражает многогранный духовный мир средневековой Руси. В жизни князя переплелись война и политика, дипломатия и религия, однако, несмотря на сложность личности и эпохи, в народной памяти запечатлелся образ воина-праведника, благоверного князя, понимавшего свое общественное положение как служение Богу и Отечеству.

            .content-author
                i.fas.fa-user
                p В. Михайловский

        .about-banner

            .container

                .a-banner
                    p.a-banner-title Полная версия материала доступна в цифровой версии выпуска

                    .a-banner-btns
                        a.button-style.button-style--white Приобрести цифровую версию
                        a.button-style.button-style--white-transparent Подписаться на бумажную версию