---
title: Газета Ветеран | Архив
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Архив', 'Архив')
    // Breadcrumbs::End

    .archive-page

        .container

            .archive

                .archive__block

                    .archive__image
                        img(src="assets/images/hero.jpg", alt="img")

                    .archive__content

                        .archive__content-label
                            p Май, №20

                        h3.archive__block-title Сталинград - земля героев!

                        .archive__content-text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus sed sit pellentesque vitae. Sem morbi mattis pellentesque massa quis orci cursus tincidunt ultricies. Tortor leo quisque et elementum, egestas pretium consectetur duis. Egestas at at aliquam mi at enim. Suscipit tellus habitasse elit non et elit. Ligula ut arcu lectus malesuada sagittis. Dui, morbi gravida morbi etiam donec tortor. A, risus, maecenas neque nec nisl turpis mi id augue. Id fringilla quis vestibulum porta nunc ac nunc gravida cursus.

                .archive__block

                    .archive__image
                        img(src="assets/images/hero.jpg", alt="img")

                    .archive__content

                        .archive__content-label
                            p Май, №20

                        h3.archive__block-title Сталинград - земля героев!

                        .archive__content-text
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus sed sit pellentesque vitae. Sem morbi mattis pellentesque massa quis orci cursus tincidunt ultricies. Tortor leo quisque et elementum, egestas pretium consectetur duis. Egestas at at aliquam mi at enim. Suscipit tellus habitasse elit non et elit. Ligula ut arcu lectus malesuada sagittis. Dui, morbi gravida morbi etiam donec tortor. A, risus, maecenas neque nec nisl turpis mi id augue. Id fringilla quis vestibulum porta nunc ac nunc gravida cursus.