---
title: Газета Ветеран | Документы
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Документы', 'Документы')
    // Breadcrumbs::End

    .docs-page

        .container

            .docs

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus


                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-2.png")
                        img(src="assets/images/sert-2.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-2.png")
                        img(src="assets/images/sert-2.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus


                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-1.png")
                        img(src="assets/images/sert-1.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus

                .docs__item
                    .docs__img(data-fancybox data-src="assets/images/sert-2.png")
                        img(src="assets/images/sert-2.png", alt="img")
                        .item-zoom
                            i.far.fa-circle-plus
                    .docs__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus
