---
title: Газета Ветеран | Главная
---

extends includes/_page

block main

    .hero

        .container

            .hero__main

                .hero__image
                    img(src="assets/images/hero.jpg", alt="img")

                .hero__content
                    .content-bg
                        img(src="assets/images/hero-bg.png", alt="bg")

                    .hero__content-label
                        p Новый выпуск
                        | /
                        p Май, №20

                    h1.s-title Сталинград - земля героев!

                    .hero__content-text
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis ut eu bibendum tellus sed sit pellentesque vitae. Sem morbi mattis pellentesque massa quis orci cursus tincidunt ultricies. Tortor leo quisque et elementum, egestas pretium consectetur duis. Egestas at at aliquam mi at enim. Suscipit tellus habitasse elit non et elit. Ligula ut arcu lectus malesuada sagittis. Dui, morbi gravida morbi etiam donec tortor. A, risus, maecenas neque nec nisl turpis mi id augue. Id fringilla quis vestibulum porta nunc ac nunc gravida cursus.

    .main-news

        .container

            h2.s-title В новом номере

            .m-news__wrap

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-1.jpg", alt="img")
                        .m-news__title Написать в редакцию
                        .m-news__text Одним из главных его дел сегодня стала патриотическая работа с молодежью - поездки, фестивали, спортивные соревнования, встречи, семинары, конференции и, конечн...

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-2.jpg", alt="img")
                        .m-news__title «Литература – это&nbsp;все&nbsp;мое&nbsp;счастье!»
                        .m-news__text Одним из главных его дел сегодня стала патриотическая работа с молодежью - поездки, фестивали, спортивные соревнования, встреч...

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-3.jpg", alt="img")
                        .m-news__title Возьмемся за руки, друзья!
                        .m-news__text Скорый поезд подъезжал к городу-герою Волгограду, знаменитому на весь мир Сталинграду, где была остановлена и опрокинута вспять немецко-фашистская армад...

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-4.jpg", alt="img")
                        .m-news__title Заступник земли русской
                        .m-news__text Страна живет, пока сохраняется память о подвигах предков, продолжаются и развиваются традиции и преемственные связи. Память о великих деятелях отечес...

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-5.jpg", alt="img")
                        .m-news__title Здесь будут яблони цвести
                        .m-news__text Учащиеся Дмитриевской основной школы Золотухинского района Курской области приняли участие в Международной акции «сад Памяти», которая впервые была ...

                .m-news__block
                    a(href="#")
                        .m-news__image
                            img(src="assets/images/news-6.jpg", alt="img")
                        .m-news__title Мистер изящество
                        .m-news__text Гимнаст Павел Столбов - победитель Олимпийских игр 1956 года в командном зачете. Чемпион мира-1958 (команда), серебряный призер чемпионатов мира-1958...