---
title: Газета Ветеран | Подписка
---

extends includes/_page

block main

    // Breadcrumbs::Start
    include components/_breadcrumbs
    +breadcrumbs('Подписка', 'Подписка')
    // Breadcrumbs::End

    .subscribe-page

        .container

            .subscribe-info

                .column-info

                    h3 Полная версия материала доступна в цифровой версии выпуска

                    ul
                        li Обратившись к оператору в любом почтовом отделении связи АО «Почта России» (подписной индекс издания ПП275);
                        li На сайте <a href="https://podpiska.pochta.ru">podpiska.pochta.ru</a> в разделе «подписка онлайн».
                        li Для некоторых категорий граждан (инвалиды 1-й и 2-й группы, участники ВОВ) при предъявлении соответствующего удостоверения подписка оформляется по льготной цене.
                        li Юридические лица могут оформить подписку по безналичному расчету, заключив договоры в отделе подписки региональных или районных почтамтов.
                        li В Москве и Московской области подписку для юридических лиц можно оформить непосредственно в редакции или в электронном виде, сообщив свой почтовый адрес и предоставив копию квитанции об оплате необходимого количества экземпляров газеты.

                .column-banner

                    .a-banner
                        p.a-banner-title Полная версия материала доступна в цифровой версии выпуска

                        .a-banner-btns
                            a.button-style.button-style--white Приобрести цифровую версию
                            a.button-style.button-style--white-transparent Подписаться на бумажную версию

            .subscribe-block

                .subscribe__left
                    h3 Оформить подписку на печатную версию газеты:

                    .subscribe-link
                        h4 Объединеный каталога "Пресса России"
                        a.button-style.button-style--red Перейти на сайт

                    .subscribe-link
                        h4 Интернет-магазин «Пресса по подписке»
                        a.button-style.button-style--red Перейти на сайт

                .subscribe__right
                    .subscribe-img
                        img(src="assets/images/newspaper-mockup1.jpg", alt="img")

                    h4 <span>Агентство подписки "АРЗИ"</span> - распространение печатной продукции - журналов и газет
                    p Агентство по распространению зарубежных изданий (АРЗИ) создано 1 октября 1963 года с целью дальнейшего улучшения дела распространения печатной продукции, особенно зарубежных газет и журналов и повышения качества операций, связанных с экспортом советской печати за границу.